@charset "UTF-8";
/*CSS Reset*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
p,
span,
a,
h1,
h2,
ul,
img {
  margin: 0;
  padding: 0;
  display: block;
  font-weight: normal;
  font-size: 100%;
}

body a,
p a,
span a,
a a,
h1 a,
h2 a,
ul a,
img a {
  text-decoration: none;
}

body img,
p img,
span img,
a img,
h1 img,
h2 img,
ul img,
img img {
  max-width: 100%;
}

body li,
p li,
span li,
a li,
h1 li,
h2 li,
ul li,
img li {
  list-style: none;
}

/*Início do CSS*/
body {
  background-color: #201a1c;
  color: #d0b075;
  font: 400 1rem/1.5rem "Arial";
}

body header {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #d0b075;
}

body header img {
  max-height: 4rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body header img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body header nav {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  place-items: center;
  height: 5rem;
}

@media (max-width: 1200px) {
  body header nav {
    padding: 0 1rem;
  }
}

body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  place-items: center;
  gap: 1rem;
}

body header nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  place-items: center;
}

body header nav ul li a {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  place-items: center;
  padding: 0.5rem;
  color: #d0b075;
}

body header nav ul li a.active {
  background-color: #d0b075;
  color: #201a1c;
}

body main {
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media (max-width: 1200px) {
  body main {
    padding: 0 1rem;
  }
}

body main p + p {
  margin-top: 2rem;
}

body main.home {
  min-height: calc(100vh - 84px);
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  max-width: unset;
  gap: 2rem;
}

body main.home > .img {
  background: no-repeat center/cover url("../assets/unsplash.jpg");
  height: calc(100vh - 84px);
  width: 100%;
}

body main.home p {
  font: 400 1.25rem/1.75rem "Arial";
}

body h1 {
  font: 600 3rem/1rem "Arial";
  margin: 4rem auto;
}

body section.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  place-items: center;
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body section.flexContainer h1 {
  font: 600 3rem/1rem "Arial";
  margin: 2rem auto;
}

body .card {
  border: 2px solid #d0b075;
  padding: 2rem;
  border-radius: 0.75rem;
}

body .card > img {
  border-radius: 0.75rem;
}

body .card__Title {
  font: 600 1.5rem/2rem "Arial";
  margin: 1rem auto;
  text-align: center;
}

body .card__Description {
  font: 400 1.25rem/1.75rem "Arial";
  font-style: italic;
  margin: unset;
  text-align: center;
}

body table {
  border: 1px solid #d0b075;
  padding: 0.5rem;
  border-collapse: collapse;
}

body table th {
  background-color: #d0b075;
  color: #201a1c;
}

body table td,
body table th {
  border: 1px solid #d0b075;
  padding: 0.5rem;
  text-align: center;
}

body input[type="submit"] {
  background-color: #d0b075;
  color: #201a1c;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  outline: none;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  margin: 1rem 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body input[type="submit"]:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body form.box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #d0b075;
  padding: 2rem;
  border-radius: 0.75rem;
  gap: 1rem;
}

body label {
  color: #d0b075;
}

body label input,
body label textarea {
  display: block;
  background: transparent;
  border: 1px solid #d0b075;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

body label textarea {
  resize: none;
}
/*# sourceMappingURL=styles.css.map */