<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>LA Arquitetura | Equipe</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a th:href="@{/}">Home</a></li>
          <li><a th:href="@{/equipe}" class="active">Equipe</a></li>
          <li><a th:href="@{/cursos}">Nossos Cursos</a></li>
          <li><a th:href="@{/projetos}">Projetos em Andamento</a></li>
          <li><a th:href="@{/admin}">Admin</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Nossa Equipe</h1>
      <section th:each="funcionario : ${funcionario}" class="flexContainer">
        <article class="card">
          <img th:src="${funcionario.ftFuncionario}" alt="membro da equipe" />
          <p class="card__Title" th:text="${funcionario.nmFuncionario}"></p>
          <p class="card__Description" th:text="${funcionario.nmCargo}"></p>
        </article>
      </section>
    </main>
  </body>
</html>
