<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>LA Arquitetura | Sucesso</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a th:href="@{/}">Home</a></li>
          <li><a th:href="@{/equipe}">Equipe</a></li>
          <li><a th:href="@{/cursos}">Nossos Cursos</a></li>
          <li><a th:href="@{/projetos}">Projetos em Andamento</a></li>
          <li><a th:href="@{/admin}">Admin</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Curso cadastrado com sucesso ✔️</h1>
      <p th:text="${curso.nmCurso}"></p>
      <p th:text="${curso.dsCurso}"></p>
      <p th:text="${curso.cdFuncionario}"></p>
    </main>
  </body>
</html>
